:root {
    /*Colors */
    /* Primary */
    --Cyan: hsl(180, 66%, 49%);
    --Cyan-hover: hsl(180, 66%, 69%);
    --Dark-Violet: hsl(257, 27%, 26%);

    /* Secondary */
    --Red: hsl(0, 87%, 67%);

    /* Neutral */
    --Gray: hsl(225, 33%, 95%);
    --Grayish-Violet: hsl(258, 7%, 63%);
    --Very-Dark-Blue: hsl(255, 11%, 22%);
    --Very-Dark-Violet: hsl(260, 8%, 14%);

    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;

    /* Font sizes */
    --fs-xxs: 0.5rem;
    --fs-xs: 0.75rem;
    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-lg: 1.125rem;
    --fs-xl: 1.25rem;
    --fs-2xl: 1.5rem;
    --fs-3xl: 1.875rem;
    --fs-4xl: 2.25rem;
    --fs-5xl: 3rem;
    --fs-6xl: 3.75rem;
    --fs-7xl: 4.5rem;
    --fs-8xl: 6rem;
    --fs-9xl: 8rem;
    --fs-10xl: 10rem;
    --fs-80px: 5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.75rem);
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-size: var(--fs-lg);
    color: var(--Grayish-Violet);
    overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

#root {
    overflow-x: hidden;
}

.hero__section {
    padding: 2rem 0;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.hero__illustration {
    max-width: 733px;
    min-width: 400px;
    width: 100%;
    position: relative;
    right: -15%;
}

.hero__title {
    font-size: var(--fs-4xl);
    font-weight: 700;
    color: var(--Very-Dark-Violet);
    max-width: 15ch;
    margin-inline: auto;
}

.hero__description {
    margin: 0.5rem 0 2rem;
    max-width: 43ch;
}

.hero__btn {
    font-size: var(--fs-xl);
}

.ad__section {
    background: url("/images/bg-boost-mobile.svg");
    background-repeat: no-repeat;
    background-color: var(--Dark-Violet);
    background-size: cover;
    background-position: center;
}

.ad__content {
    text-align: center;
    color: white;
    padding: 4rem 0;
}

.ad__title {
    font-size: var(--fs-3xl);
    font-weight: 700;
}

.ad__btn {
    font-size: var(--fs-xl);
    margin-top: 2rem;
}

.stats__section {
    background-color: var(--Gray);
}

.stats__content {
    padding: 4rem 0;
}

.stats__text-container {
    text-align: center;
}

.stats__title {
    font-size: var(--fs-3xl);
    font-weight: 700;
    color: var(--Very-Dark-Violet);
}

.stats__description {
    max-width: 45ch;
    margin-inline: auto;
    margin-top: 1rem;
    margin-bottom: 6rem;
}

.stats__cards-container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;
    margin-top: 4rem;
    text-align: center;
    position: relative;
    font-size: var(--fs-base);
}

.stats__card {
    background-color: #fff;
    padding: 3rem 2rem;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.stats__card::before {
    content: url("/images/icon-brand-recognition.svg");
    position: absolute;
    top: calc(-1 * var(--size-8xl) / 2);
    transform: translateX(-50%);
    left: 50%;
    background-color: var(--Dark-Violet);
    border-radius: 100%;
    width: var(--size-8xl);
    height: var(--size-8xl);
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats__card:nth-child(2)::before {
    content: url("/images/icon-detailed-records.svg");
}

.stats__card:nth-child(3)::before {
    content: url("/images/icon-fully-customizable.svg");
}

.stats__cards-container::after {
    content: "";
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
    width: 8px;
    height: 100%;
    background-color: var(--Cyan);
    z-index: 0;
}

.stats__card-title {
    font-size: var(--fs-2xl);
    font-weight: 700;
    margin-top: 2rem;
    color: var(--Very-Dark-Violet);
}

.stats__card-description {
    margin-top: 1rem;
    max-width: 27ch;
}
