/* XS /
@media (min-width: 29.6875rem) { / 475px / 16px = 29.6875rem /
  .container {
    max-width: 29.6875rem;
  }
}

/ SM /
@media (min-width: 40rem) { / 640px / 16px = 40rem /
  .container {
    max-width: 40rem;
  }
}

/ MD /
@media (min-width: 48rem) { / 768px / 16px = 48rem /
  .container {
    max-width: 48rem;
  }
}

/ LG /
@media (min-width: 64rem) { / 1024px / 16px = 64rem /
  .container {
    max-width: 64rem;
  }
}

/ XL /
@media (min-width: 80rem) { / 1280px / 16px = 80rem /
  .container {
    max-width: 80rem;
  }
}

/ XXL /
@media (min-width: 96rem) { / 1536px / 16px = 96rem /
  .container {
    max-width: 96rem;
  }
} */

.btn,
.input__btn {
    font-weight: 700;
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
    background-color: var(--Cyan);
    padding: 0.75rem 2rem;
    border-radius: 10rem;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.input__btn {
    border-radius: 5px;
}

.btn:hover,
.input__btn:hover {
    background-color: var(--Cyan-hover);
}

.container {
    width: 90%;
    margin-inline: auto;
}

.no-scroll {
    overflow: hidden;
}

/* XS */
@media (min-width: 29.6875rem) {
    .container {
        max-width: 29.6875rem;
    }
}

/* SM */
@media (min-width: 40rem) {
    .container {
        max-width: 40rem;
    }
}

/* MD */
@media (min-width: 48rem) {
    .container {
        max-width: 48rem;
    }

    .header__menu-button {
        display: none;
    }

    .ad__section {
        background: url("/images/bg-boost-desktop.svg");
        background-repeat: no-repeat;
        background-color: var(--Dark-Violet);
        background-size: cover;
        background-position: center;
    }
}

/* LG */
@media (min-width: 64rem) {
    .container {
        max-width: 64rem;
    }

    .hero__section {
        padding: 4rem 0;
    }
    .hero__content {
        flex-direction: row-reverse;
        text-align: start;
        gap: 0;
    }

    .hero__title {
        font-size: var(--fs-5xl);
        max-width: none;
    }

    .hero__illustration {
        position: block;
        right: 0;
    }

    .ad__title {
        font-size: var(--fs-4xl);
    }

    .footer__content {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer__logo {
        flex: 1;
    }

    .footer__links-wrapper {
        flex: 2;
        flex-direction: row;
        justify-content: space-between;
    }

    .stats__title {
        font-size: var(--fs-4xl);
    }

    .input__container {
        flex-direction: row;
        padding: 3rem 2.5rem;
        background: url("/images/bg-shorten-desktop.svg");
        background-repeat: no-repeat;
        background-color: var(--Dark-Violet);
        background-size: cover;
    }

    .input__field {
        flex: 6;
        padding: 1rem;
    }

    .input__btn {
        flex: 1;
        padding: 1rem;
    }
}

/* XL */
@media (min-width: 80rem) {
    .container {
        max-width: 80rem;
    }

    .hero__title {
        font-size: var(--fs-7xl);
    }

    .hero__description {
        font-size: var(--fs-xl);
    }

    .stats__cards-container {
        flex-direction: row;
        height: 24rem;
        text-align: left;
        gap: 2rem;
        justify-content: center;
    }

    .stats__card-description {
        max-width: 30ch;
    }

    .stats__card {
        padding: 3rem;
    }

    .stats__card::before {
        left: 3rem;
        transform: translateX(0);
    }

    .stats__cards-container::after {
        height: 8px;
        width: 70%;
        left: 15%;
        top: 43%;
        transform: translateY(-50%);
    }

    .stats__card:nth-child(1) {
        align-self: flex-start;
    }

    .stats__card:nth-child(2) {
        align-self: center;
    }

    .stats__card:nth-child(3) {
        align-self: flex-end;
    }
}

/* XXL */
@media (min-width: 96rem) {
    .container {
        max-width: 96rem;
    }

    .hero__title {
        font-size: var(--fs-80px);
    }
}
