.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem 0;
}

.navbar {
    display: none;
}

.navbar__list,
.navbar__list-cta {
    display: flex;
    align-items: center;
}

.navbar__list-cta {
    gap: 1rem;
}

.navbar__links > a {
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
}

.navbar__links > a:hover {
    color: var(--Very-Dark-Violet);
}

.header__menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.header__menu-button-icon {
    height: var(--size-3xl);
    width: var(--size-3xl);
    color: var(--Grayish-Violet);
}

/* MD */
@media (min-width: 48rem) {
    .header {
        justify-content: start;
        gap: 2rem;
        font-weight: 700;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 15px;
    }

    .header__btn {
        font-size: 15px;
    }
}
